.section-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
}

.paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.header {
    padding: 0 50px 0 50px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    place-items: center left;
}

.header__menu {
    grid-column: 1;
}

.header__links-list {
    display: flex;
    list-style-image: url("../images/list_marker.svg");
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.header__links-list-item {
    margin-left: 23px;
    padding-left: 8px;
}

.header__links-list-item:first-child {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
    letter-spacing: 0.01em;
}

.header__links-list-item:first-child a {
    text-decoration: none;
    letter-spacing: 0.01em;
}

.header__links-list-item:last-child {
    margin-right: 0;
}

.header__links-list-link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.01em;
}

.header__logo {
    margin: 0 auto;
    grid-column: 2;
}
.header__logo-link {
}
.header__logo-image {
    width: 148px;
    height: 105px;
}
.header__contacts {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;

    grid-column: 3;
    display: flex;
    flex-direction: column;
    width: 240px;
    box-sizing: content-box;
    padding-left: 186px;
}
.header__contacts-phone {
}
.header__contacts-mail {
}
.header__contacts-address {
    font-style:normal
}

/* jambotron */
.jambotron {
    height: 757px;
    color: #FFF;
    text-transform: uppercase;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 179px;
}

.jambotron__title {
    font-size: 100px;
    letter-spacing: 0.3em;
    padding: 168px 0 0 0;
}

.jambotron__title-text {
    display: block;
    line-height: 100px;
}

.jambotron__title--line1 {
    padding-left: 50px;
    margin-bottom: 28px;

}

.jambotron__title--line2 {
    padding-left: 336px;
    margin-bottom: 20px;
}

.jambotron__title--line3 {
    padding-left: 633px;
    margin-bottom: 150px;
}

.jambotron__footer {
    padding-left: 76px;
    font-size: 22px;
    word-spacing: 20px;
}

.jambotron__footer-button {
    display: inline-block;
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 1px;
    word-spacing: 0px;
}

.big-spacing {
    margin-right: 20px;
}

/* lots-list */
.lots-list {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

.lots-list__title {
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots-list__list {
    display: flex;
    justify-content: space-between;
}

.lots-list__list-item {
    list-style: none;
}

.lots-list__item {
    position: relative;
    width: 334px;
    height: 563px;
}

.lots-list__item-background {
    position: absolute;
    z-index: -1;
}

.lots-list__item-text {
    height: 100%;
    width: 100%;
    padding: 51px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lots-list__item-title {
    font-size: 22px;
    font-weight: 700;
}

.about {
}


.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}
.about__logo-img {
    width: 148px;
    height: 114px;
}


.footer__address {
}
.footer__menu {
}
.footer__aside {
}